:root {
  --light-blue: rgba(176, 228, 252, 0.5)
}

header {
  margin: 10px;
  text-align: center;
  font-size: x-large;
}

body {
  background-color: var(--light-blue);
}

main {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 1rem 5rem;
  border-radius: 10px;
  padding: 3rem;
}

h2 {
  font-size: x-large;
  margin-bottom: 8px;
}

/* Input */

label {
  color: gray;
  font-size: large;
}

input,
.title-dropdown {
  border: none;
  padding: 20px;
  background-color: var(--light-blue);
  border-radius: 5px;
}

.input-flex,
.dropdown {
  display: flex;
  flex-direction: column;
  gap: 5px;
} 

/* --- */

.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.education-grid > .input-flex:nth-child(2) {
  order: 3;
}
.education-grid > .input-flex:nth-child(3) {
  order: 2;
}

.date-of-study {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#from,
#to {
  min-width: 0;
  flex: 1;
}

/* media queries */

@media(width < 1200px) {
  main {
    padding: 5rem;
    grid-template-columns: 1fr;
  }
  .section-grid {
    column-gap: 3rem;
  }
}

@media(width < 800px) {
  main {
    padding: 3rem 8rem;
  }
  .section-grid {
    grid-template-columns: 1fr;
  }
  .section-grid > .input-flex:nth-child(2) {
    order: 0;
  }
  .section-grid > .input-flex:nth-child(3) {
    order: 0;
  }
}